<div class="flex flex-row mx-60 mb-16 pt-16">
  <div class="basis-1/6 text-left">
    <button type="button" class="text-2xl font-semibold uppercase hover:lowercase hover:underline decoration-4 decoration-rose-400 underline-offset-8 py-3">
      My work</button>
  </div>
  <div class="basis-1/6 text-center">
    <button type="button" class="text-2xl font-semibold uppercase hover:lowercase hover:underline decoration-4 decoration-rose-400 underline-offset-8 py-3">
      About me</button>
  </div>
  <div class="basis-1/6 text-right">
    <button type="button" class="text-2xl font-semibold uppercase hover:lowercase hover:underline decoration-4 decoration-rose-400 underline-offset-8 py-3">
   Contact</button>
  </div>
  <div class="basis-3/6">
    <button type="button" class="text-2xl font-semibold uppercase flex break-inside bg-rose-400 hover:bg-rose-400/[.5] rounded-full px-6 py-3 mb-4 float-right">Download CV</button>
  </div>
</div>
