<div class="flex justify-between pt-8 mx-8 mb-12 lg:mx-60 lg:mb-16 lg:pt-16">


<nav class="flex items-center w-auto">
  <ul class="flex justify-between">
    <li class="text-left hidden lg:block">
      <a class="text-2xl font-medium uppercase hover:lowercase hover:underline decoration-4 decoration-rose-400 underline-offset-8 py-3"
         href="#">
        Home
      </a>
    </li>
    <li class="text-left hidden lg:block">
      <a class="text-2xl font-medium uppercase hover:lowercase hover:underline decoration-4 decoration-rose-400 underline-offset-8 py-3"
         href="#">
        My Work
      </a>
    </li>
    <li class="text-center hidden lg:block">
      <a class="text-2xl font-medium uppercase hover:lowercase hover:underline decoration-4 decoration-rose-400 underline-offset-8 py-3"
         href="#">
        About me
      </a>
    </li>
    <li class="text-right hidden lg:block">
      <a class="text-2xl font-medium uppercase hover:lowercase hover:underline decoration-4 decoration-rose-400 underline-offset-8 py-3"
         href="#">
        Contact
      </a>
    </li>
    <li>
      <a type="button" class="text-md md:text-xl lg:text-2xl font-medium uppercase flex break-inside bg-rose-400 hover:bg-rose-400/[.5] rounded-full px-3 py-1 md:px-4 md:py-2 lg:px-6 lg:py-3 lg:mb-4 float-right"
         href="#">
        Download CV
      </a>
    </li>
  </ul>
</nav>
</div>
