.st0{fill:#9E7A5C;}
.st1{fill:#F3D4CF;}
.st2{fill:#D4958A;}
.st3{fill:#C5796D;}
.st4{fill:#E4B3AB;}
.st5{fill:#DA7C87;}
.st6{fill:#D26D79;}
.st7{fill:#CB5F6C;}
.st8{fill:#FFFFFF;}
.st9{fill:#43201E;}
.st10{fill:#240A09;}
.st11{fill:#2A232B;}
.st12{fill:#1B141C;}
.st13{fill:#FBE5E2;}
.st14{fill:#A68469;}
.st15{fill:#976F50;}
